.sideBarContaine{
 max-height: 100vh;
 max-width: 10rem;
 position: fixed 0,0;
 margin-right: 2rem;
 background: var(--color-background-primary);
}

.sideBarContainer buttonContainer{
 display: flex;
 flex-direction:column;
 justify-content: center;
 align-items: center;
}

buttonContainer Button{
 width: 100%;
 padding: 2rem;
 align-self: stretch;
}